@{
    ViewData["Title"] = "NetBank";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao NetBank</h1>
    <p>Escolha qual serviço você deseja utilizar:</p>
</div>

<div class="botoes">
    <button class="button button1" onclick="" id="Saldo">Consultar Saldo</button>
    <button class="button button2" id="Depositar">Depositar</button>
    <button class="button button3" id="Saque">Saque</button>
    <button class="button button4" id="Transferencia">Transferencia</button>
</div>